:root {
  --primary-color: #fed700;
  --secondary-color: #a3bd03;
  --heading-color: #f7b90b;
  --darkbg-color: #bb8a05;
  --main-text-color: #878787;
  --text-color: #fff;
  --dark-color: #343a40;
  --bg-color: #f5f5f5;
  --hover-color: #ffc300;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: var(--bg-color);
  font-family: "Inter", sans-serif;
}
.main-container {
  position: relative;
  background-image: url("../src/assets/hero-img.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  background-attachment: scroll;
  background-color: var(--bg-color);
  height: 100vh;
}
.main-content > h3 {
  text-align: center;
}
.main-content {
  max-width: 100%;
  position: absolute;
  top: 45%;
  left: 10%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 2;
  letter-spacing: 1.5px;
  z-index: 2;
}
.main-content h1 {
  font-size: 47px;
  color: var(--heading-color);
}
.main-content p {
  font-size: 16px;
  color: var(--main-text-color);
  line-height: 1.7;
  max-width: 510px;
  letter-spacing: 0.7px;
  font-weight: 500;
}
.main-content a {
  border: none;
  width: 140px;
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 1px;
  border-radius: 4px;
  text-align: center;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  margin-top: 32px;
}
.main-content a:hover {
  background-color: var(--hover-color);
  transform: scale(1.03);
  transition: all 0.2s ease;
}
.upload-container {
  margin-top: 110px;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  width: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.logo-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  color: var(--secondary-color);
  font-family: "Dancing Script", cursive;
  text-decoration: none;
  cursor: pointer;
}
.image-logo {
  width: 45px;
  height: 50px;
}
.logout-error-message {
  position: absolute;
  top: 90px;
  right: 35%;
  text-align: center;
  color: var(--darkbg-color);
  margin-bottom: 20px;
}
header nav a {
  color: var(--main-text-color);
  font-size: 16px;
  margin: 9px;
  font-weight: 400;
  text-decoration: none;
}
.desktop-nav {
  color: var(--main-text-color);
  font-size: 16px;
  margin: 9px;
  font-weight: 400;
  text-decoration: none;
}

.login-button {
  display: inline-block;
  width: 85px;
  text-align: center;
  margin: 8px;
}
.login-btn button {
  text-decoration: none;
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  color: var(--text-color);
  padding: 6px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.hamburger {
  display: none;
  background: none;
  border: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  margin-left: 190px;
  z-index: 101;
  position: relative;
}
.hamburger-icon {
  font-size: 1.9rem;
  color: var(--primary-color);
  cursor: pointer;
}
.mobile-nav {
  display: none;
  width: 130px;
  height: 200px;
  background: rgba(212, 212, 216, 0.735);
  position: absolute;
  top: 60px;
  right: -4px;
  border-radius: 4px;
  z-index: 1;
  /* background-color: var(--bg-color); */
}
.mobile-nav a {
  display: none;
  margin: 12px;
  padding: 8px;
}
.mobile-login {
  display: none;
  margin-top: -6px;
  margin-left: 12px;
}
.desktop-login {
  display: block;
}
/* -----------------------------RECIPE CARD--------------------- */
.icon {
  color: var(--secondary-color);
  font-size: 20px;
}
.recipe-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 30px auto;
  max-width: 1200px;
  gap: 2.5rem;
}
.recipe-tile {
  width: 260px;
  height: 270px;
  background-color: var(--bg-color);
  border-radius: 8px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.recipe-tile img {
  max-width: 100%;
  width: 100%;
  height: 180px;
  border-radius: 8px;
  object-fit: cover;
  transition: 2s ease;
}
.recipe-tile img:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
}
.recipe-tile > h1 {
  font-size: 16px;
  padding-top: 8px;
  color: #343a40;
  font-weight: 500;
  letter-spacing: 0.1px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.info p {
  font-size: 14px;
}
.info-icon {
  display: flex;
  gap: 4px;
  align-items: center;
}
.recipe-tile a {
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--text-color);
  width: 110px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  padding: 4px;
  transition: background-color 0.4s ease-in;
}
.recipe-tile a:hover {
  background-color: var(--heading-color);
}
/* -----------------------------FILTER SECTION--------------------- */
.filter-section {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}
.button-compo {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.btn {
  background-color: var(--primary-color);
  width: 100px;
  border: none;
  border-radius: 4px;
  padding: 6px;
  font-size: 14px;
  flex-wrap: wrap;
  color: var(--text-color);
  transition: background-color 0.5s, translate 0.5s ease-in-out;
}
.btn:hover {
  background-color: var(--heading-color);
  translate: 5px;
}
.btn.clicked {
  background-color: var(--heading-color);
}
.clear-btn {
  border: none;
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 6px;
  border-radius: 4px;
  width: 60px;
  transition: background-color 0.5s ease;
}
.clear-btn:hover {
  background-color: #679436;
}
.filter-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  max-width: 900px;
  width: 100%;
}
/* -----------------------------RECIPE DETAILS PAGE--------------------- */
.no-recipes {
  font-size: 18px;
  color: var(--main-text-color);
}
.back-btn-container {
  margin-bottom: 30px;
  margin-left: 30px;
}
.back-btn-container a {
  text-decoration: none;
  color: var(--dark-color);
}
.back-btn-container a:hover {
  text-decoration: solid;
  color: var(--darkbg-color);
}
.recipe-detail-section {
  position: relative;
  max-width: 100%;
  margin-top: 130px;
  height: auto;
}
.image-section {
  display: flex;
  justify-content: center;
}
.image-container {
  position: relative;
  z-index: 1;
  max-width: 500px;
  width: 100%;
  height: 290px;
  border-radius: 4px;
}
/* -----------------------------MY RECIPE DETAILS PAGE--------------------- */
.addrecipe-image {
  max-width: 400px;
  width: 100%;
  height: 250px;
  border-radius: 4px;
}
.recipe-image {
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
  transition: 2s ease;
}
.recipe-image:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 2s ease;
}
.description-article {
  position: relative;
  top: -25px;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
}
.description-section {
  max-width: 1200px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.title {
  margin-top: 40px;
  text-align: center;
  line-height: 1.6;
  letter-spacing: 0.6px;
}
/* -----------------------------MY RECIPE DETAILS--------------------- */
.adddetails-title {
  margin-top: 30px;
}
.title h1 {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
}
.title p {
  font-size: 16px;
  color: var(--main-text-color);
}
.title-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-top: 18px;
}
.title-details p {
  font-size: 14px;
  color: var(--main-text-color);
}
.detail-icons {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}
.icon-recipe {
  font-size: 1.4rem;
  color: var(--secondary-color);
}
.icon-serving {
  font-size: 1.6rem;
  color: var(--secondary-color);
}
.direction-container {
  display: flex;
  width: 100%;
  margin-top: 40px;
  gap: 3rem;
  line-height: 2.2;
  padding: 18px;
  letter-spacing: 0.9px;
}
.direction-container h4 {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 18px;
}
/* -----------------------------ADD RECIPE DETAILS--------------------- */
.myrecipedetail-link {
  margin-top: 20px;
  margin-bottom: 20px;
}
.myrecipedetail-link a {
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  color: var(--dark-color);
}
.myrecipedetail-link a:hover {
  color: var(--darkbg-color);
}
.addrecipe-dircontainer {
  margin-top: 25px;
}
.list-items > ol {
  list-style-position: inside;
  color: var(--main-text-color);
}
.list-items h1 {
  color: var(--dark-color);
  font-size: 18px;
  font-weight: 500;
}
.list-items ol li {
  font-size: 14px;
  color: var(--main-text-color);
  font-weight: 400;
}
.recipe-instructions h1 {
  color: var(--dark-color);
  font-size: 18px;
  font-weight: 500;
}
.recipe-instructions ol li {
  font-size: 14px;
  color: var(--main-text-color);
  font-weight: 400;
}
.ingredient-container {
  max-width: 250px;
  border-radius: 4px;
  width: 100%;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.nuttri-info {
  margin-top: 32px;
  font-weight: 300;
}
.nuttri-info ol {
  list-style-position: inside;
  padding-left: 0;
  color: var(--main-text-color);
  font-size: 14px;
}
.recipe-instructions {
  max-width: 100%;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.recipe-instructions ol {
  list-style-position: inside;
  padding-left: 0;
  color: var(--dark-color);
}

.notfound-container {
  margin-top: 150px;
  margin-left: 70px;
  line-height: 1.6;
}
.notfound-container h1 {
  font-size: 24px;
  font-weight: 500;
  color: var(--main-text-color);
  margin-bottom: 16px;
}
.notfound-container a {
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 8px;
}
.recipe-details {
  margin-top: 160px;
}

/* -----------------------------SAVED RECIPES--------------------- */
.listed-recipes {
  margin-top: 30px;
}
.recipe-list {
  color: var(--dark-color);
  margin-left: 42px;
  margin-bottom: 32px;
  font-size: 22px;
  font-weight: 400;
}
.recipeimage-container {
  position: relative;
  overflow: hidden;
}
.myrecipe-image {
  position: relative;
  transition: filter 0.3s ease;
}
.recipeimage-container:hover .myrecipe-image {
  filter: brightness(50%);
}
.recipeimage-container button {
  position: absolute;
  top: 8px;
  right: 10px;
  border: none;
  background: transparent;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.recipeimage-container:hover button {
  opacity: 1;
}
.delete-icon {
  font-size: 1.4rem;
  color: var(--heading-color);
}
.recipe-tiles {
  width: 260px;
  height: auto;
  background-color: var(--bg-color);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.recipe-tiles img {
  max-width: 100%;
  width: 100%;
  height: 180px;
  border-radius: 8px;
  object-fit: cover;
  transform: scale(1);
  overflow: hidden;
}
.viewrecipe-container {
  display: flex;
  justify-content: center;
}
.addrecipe-btn {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: auto;
  margin-bottom: 2px;
}
.addrecipe-btn a {
  display: inline-block;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 14px;
  text-align: center;
  padding: 4px;
  max-width: 110px;
  width: 100%;
}
.recipelist-info {
  padding: 6px;
  line-height: 1.8;
}
.saved-recipes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 30px auto;
  max-width: 1200px;
  gap: 1.2rem;
}
.recipelist-info h1 {
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-color);
}
.recipelist-info p {
  font-size: 14px;
  color: var(--main-text-color);
}

/* -----------------------------ADMIN NAV--------------------- */
.adminnav-section {
  margin-top: 110px;
}
.admin-nav {
  margin: 110px 0px 0px 40px;
}
.admin-nav a {
  padding: 6px;
  color: var(--main-text-color);
  text-decoration: none;
  font-size: 16px;
}
.add-recipe-image {
  width: 100px;
  height: 100px;
}

/* -----------------------------LOGIN SECTION--------------------- */

.login-section {
  display: flex;

  justify-content: center;
  margin-top: 60px;
  text-align: center;
  width: 100%;
}
.login-container {
  margin-top: 24px;
  max-width: 500px;
  width: 100%;
  padding: 18px;
  display: block;

  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 4px;
}
.loggedin-message {
  position: absolute;
  top: 92px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--heading-color);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  z-index: 100;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.loggedin-message.hide {
  opacity: 0;
}

.message-container {
  text-align: center;
  margin-top: 110px;
}
.display-message {
  color: var(--darkbg-color);
  font-size: 20px;
  font-weight: 600;
}
.error-message {
  font-size: 18px;
  margin-top: 15px;
  color: var(--darkbg-color);
  font-weight: 400;
}
.success-message {
  font-size: 18px;
  margin-top: 15px;
  color: var(--secondary-color);
  font-weight: 400;
}
.login-container h1 {
  text-align: center;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 24px;
}
.login-form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 100%;
  gap: 1.2rem;
}
.login-form input {
  font-size: 14px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  max-width: 100%;
  width: 80%;
}
.login-form input:focus {
  outline: none;
}
.login-form button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  color: var(--text-color);
  padding: 6px;
  font-size: 18px;
  font-weight: 500;
  max-width: 30%;
  width: 28%;
  margin: 0 auto;
}
.test-btn {
  margin-top: 100px;
}
.spinner-icon {
  font-size: 48px;
  animation: gentle-bob-tilt 1s ease-in-out infinite;
  color: var(--primary-color);
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
}
.loading-spinner p {
  color: var(--secondary-color);
}

@keyframes gentle-bob-tilt {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-2px) rotate(-1deg);
  }
  50% {
    transform: translateY(-4px) rotate(1deg);
  }
  75% {
    transform: translateY(-2px) rotate(-1deg);
  }
}

/* -----------------------------ADDING RECIPES PAGE--------------------- */
.form-error {
  text-align: center;
  margin-top: 16px;
  color: var(--darkbg-color);
}
.recipe-details {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.form-title {
  margin-bottom: 20px;
}
.form-title h1 {
  color: var(--dark-color);
  text-align: center;
}
.addrecipe-container {
  max-width: 800px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 20px 10px;
  border-radius: 4px;
}
.addrecipe-form {
  max-width: 100%;
  width: 80%;
}
.form-input {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2.9;
}
.addrecipe-form input[type="text"] {
  max-width: 100%;
  width: 90%;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.5px;
  outline: var(--bg-color);
  background-color: #fff;
  margin: 10px;
}
.form-input-image {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 32px;
}
.form-input-image h4 {
  color: var(--main-text-color);
  font-weight: 400;
}
.custom-label {
  display: inline-block;
  width: 110px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: var(--primary-color);
  color: white !important;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}
.custom-label:hover {
  background-color: var(--heading-color);
}
.image-input {
  display: none;
  font-size: 14px;
}
.addrecipe-form input::placeholder {
  color: #b6b6b6;
  opacity: 0.8;
}
.ingredients-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.6rem;
  max-width: 100%;
  width: 100%;
}
.input-wrapper {
  flex-grow: 1;
}
.input-wrapper input {
  width: 100%;
}
.add-icon {
  font-size: 1.4rem;
  color: var(--secondary-color);
}
.del-icon {
  font-size: 1.4rem;
  color: var(--heading-color);
}
.steps-button {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}
.steps-button {
  margin-right: 2px;
}
.steps-button button {
  border: none;
  background-color: transparent;
}
.addrecipe-form label {
  font-size: 16px;
  color: var(--main-text-color);
}
.submit-button {
  width: 110px;
  border: none;
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 6px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  transition: background-color 0.5s ease-in;
}
.submit-button:hover {
  background-color: var(--heading-color);
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 38px;
}
.recipe-title h1 {
  font-size: 20px;
  color: var(--dark-color);
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 32px;
}
.recipe-description p {
  font-size: 15px;
  color: var(--dark-color);
  margin-bottom: 32px;
  line-height: 1.6;
}
.ingredient-list ol > li {
  font-size: 15px;
  color: var(--dark-color);
  margin-left: 16px;
  line-height: 1.6;
  align-items: center;
}
.ingredient-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 0;
}
.ingredient-list button {
  background-color: transparent;
  border: none;
  padding: 2px;
  display: flex;
  align-items: center;
}
.step-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 0;
}
.direction-list button {
  background-color: transparent;
  border: none;
  padding: 2px;
  display: flex;
  align-items: center;
}
.direction-list ol > li {
  font-size: 15px;
  color: var(--dark-color);
  margin-left: 16px;
  line-height: 1.8;
  margin-bottom: 6px;
}
.form-input-container {
  margin-top: 32px;
}
.pagination-controls {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}
.pagination-controls button {
  border: none;
  background-color: var(--primary-color);
  border-radius: 4px;
  color: var(--text-color);
  padding: 6px;
  font-size: 14px;
  transition: background-color 0.5s ease-out;
}
.pagination-controls button:hover {
  background-color: var(--heading-color);
}
.pagination-controls button:disabled {
  background-color: var(--darkbg-color);
  color: #b6b6b6;
  cursor: not-allowed;
  opacity: 0.7;
}
/* -----------------------------MEIDA QUERIES--------------------- */
@media (max-width: 768px) {
  .main-content {
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    align-items: start;
    padding: 0 10px;
    width: 90vw;
  }
  .main-content h1 {
    font-size: 1.8rem;
  }
  .main-content p {
    font-size: 0.9rem;
    max-width: 100%;
  }
  .main-content a {
    width: 20%;
    font-size: 1.1rem;
    padding: 3px 0;
  }
  /* .main-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.16);
    z-index: 1;
    pointer-events: none;
  } */

  /* -----------------------------MEIDA QUERIES -  RECIPES SECTION--------------------- */

  .recipe-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 30px auto;
    gap: 1.5rem;
    /* max-width: 500px; */
    width: 100%;
  }
  .recipe-tile {
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
    height: 270px;
  }
  .filter-section {
    margin-left: 90px;
    max-width: 700px;
    width: 70%;
  }
  .recipe-list {
    font-size: 22px;
    margin-left: 42px;
  }
  .saved-recipes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px auto;
    max-width: 100%;
    width: 80%;
    gap: 1.2rem;
  }
  .recipe-tiles {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    height: auto;
  }
  .saved-recipes h1 {
    font-size: 16px;
    font-weight: 500;
    color: var(--dark-color);
  }
  .saved-recipes p {
    font-size: 14px;
    color: var(--dark-color);
  }
  .description-section {
    max-width: 700px;
    width: 100%;
  }
  .direction-container {
    line-height: 2;
  }
  .recipe-instructions ol li {
    padding-bottom: 12px;
    line-height: 1.8;
  }
}

@media (max-width: 425px) {
  body {
    overflow-x: hidden;
    box-sizing: border-box;
  }
  .desktop-nav {
    display: none;
  }
  .logo-link a {
    font-size: 35px;
  }
  .image-logo {
    width: 40px;
    height: 45px;
  }
  .hamburger {
    display: block;
  }

  .mobile-nav {
    display: block;
  }
  .mobile-nav a {
    display: block;
  }
  .mobile-login {
    display: block;
  }
  .desktop-login {
    display: none;
  }

  .main-content {
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    align-items: center;

    padding: 0 10px;
    width: 90vw;
  }
  .main-content h1 {
    font-size: 2rem;
  }
  .main-content p {
    font-size: 0.8rem;
    max-width: 100%;
  }
  .main-content a {
    width: 40%;
    font-size: 0.8rem;
    padding: 3px 0;
  }
  .main-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.13);
    z-index: 1;
    pointer-events: none;
  }
  /* // --------------------------recipe cards*------------------------------------------- */

  .filter-section {
    margin-left: 40px;
    max-width: 400px;
    width: 80%;
  }
  .recipe-list {
    font-size: 22px;
    margin-left: 42px;
  }
  .direction-container {
    display: flex;
    flex-direction: column;
  }
  .ingredient-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .recipe-cards {
    display: grid;
    grid-template-columns: 1fr;
    margin: 30px auto;
    gap: 1.5rem;
    max-width: 100%;
    width: 85%;
  }
  .recipe-tile {
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
    height: 270px;
  }
  .recipe-tile > h1 {
    font-size: 18px;
  }
  .recipe-instructions ol,
  li {
    margin-bottom: 12px;
  }
  .back-btn-container {
    margin-left: 5px;
  }
  .saved-recipes {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px auto;
    max-width: 100%;
    width: 80%;
    gap: 1.2rem;
  }
  .recipe-tiles {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    height: auto;
  }
}

/* SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
    FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */
